.carousel {
    cursor: grab;
    overflow: hidden;
}

.innerCarousel {
    display: flex;
    gap: 2rem;
}

.item {
    min-width: 30rem;
    padding: 1rem;
}

@media (max-width: 768px) {
    .item {
        min-width: 90%;
    }
}

.card {
    background: rgba(255, 255, 255, 0.02);
}

.quote {
    font-size: 1.1rem;
    font-style: italic;
    color: var(--text-secondary);
    margin-bottom: 2rem;
}

.author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.avatar {
    width: 50px;
    height: 50px;
    background: var(--primary-color);
    border-radius: 50%;
}

.name {
    font-size: 1rem;
    color: #fff;
}

.role {
    font-size: 0.8rem;
    color: var(--text-secondary);
}